.consultation1{
    display: block;
        text-align: center;
    &__title{
        color: #000;
    font-size: 45px;
    font-weight: 600;
    line-height: 2.5em;

    }
    &__form{
        display: block;
        text-align:center;
        width: 40%;
        margin-right: auto;
        margin-left: auto;
        &_input{
            
        }
        
    }
    &__btn{ 
        padding: 10px;
        &_cont{
            background: #13aff0;
        text-decoration: none;
        padding: 5px;
        color: white;
        }
        
        
    }
    
}
